// ----------- FONTS ------------ //

$Montserrat:'Montserrat', sans-serif;
$Roboto:'Roboto', sans-serif;

// ----------- COLORS ----------- //

$header-currency:#777;
$header-register:#999;
$white:#fff;
$aqua:#00c8c8;
$jumbotron-text:#575153;
$banner-bckgr:#333;
$dropdown-text:#727272;
$input-search:#989898;
$btn-font:#454647;
$btn-border:#737373;

